<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-4 col-md-6 text-center mt-4">
        <!-- Fine Circle Responsive Image -->
        <div id="container" class="my-2">
            <div id="dummy"></div>
            <div id="element">
                <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" style="width:300px;height:300px;"
                    data-wow-delay=".1s">
            </div>
        </div>
        <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
        <p class="text-center wow animated slideInUp" data-wow-delay=".15s">
            {% include elements/button.html link="https://mheriyanto.wordpress.com" text="resume" size="lg" style="info" %}
            {% include elements/button.html link="https://mheriyanto.wordpress.com/publications" text="publications" size="lg" style="success" %}
        </p>

        <!-- ref: https://www.rapidtables.com/web/html/link/html-image-link.html -->
        <p align="center">
            <a href="https://mheriyanto.wordpress.com" >
                <img src="https://github.com/mheriyanto/mheriyanto.github.io/blob/master/assets/icons/wordpress.png?raw=true" align="center" title="wordpress" height="45" width="45" />
            </a>
            <a href="https://linkedin.com/in/mheriyanto" >
                <img src="https://github.com/mheriyanto/mheriyanto.github.io/blob/master/assets/icons/linkedin.png?raw=true" align="center" title="linkedin" height="45" width="45" />
            </a>
            <a href="https://github.com/mheriyanto" >
                <img src="https://github.com/mheriyanto/mheriyanto.github.io/blob/master/assets/icons/github.png?raw=true" align="center" title="github" height="45" width="45" />
            </a>
            <a href="https://orcid.org/0000-0003-2182-2866" >
                <img src="https://github.com/mheriyanto/mheriyanto.github.io/blob/master/assets/icons/orcid.png?raw=true" align="center" title="orcid" height="45" width="45" />
            </a>
            <a href="https://www.scopus.com/authid/detail.uri?authorId=56770002500" >
                <img src="https://github.com/mheriyanto/mheriyanto.github.io/blob/master/assets/icons/scopus.png?raw=true" align="center" title="scopus" height="45" width="45" />
            </a>
            <a href="https://emha-ai.github.io" >
                <img src="https://github.com/mheriyanto/mheriyanto.github.io/blob/master/assets/icons/upwork.png?raw=true" align="center" title="freelance" height="45" width="45" />
            </a>
        </p>

    </div>
</div>