<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-4 col-md-6 text-center mt-4">
        <!-- Fine Circle Responsive Image -->
        <div id="container" class="my-2">
            <div id="dummy"></div>
            <div id="element">
                <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" style="width:300px;height:300px;"
                    data-wow-delay=".1s">
            </div>
        </div>
        <h4> <span style='font-weight: bold;'>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Mohammad Heriyanto" ]'>
                <span class="wrap"></span>
                </a>
        </span></h4>
        <script>
            var TxtType = function(el, toRotate, period) {
                this.toRotate = toRotate;
                this.el = el;
                this.loopNum = 0;
                this.period = parseInt(period, 10) || 2000;
                this.txt = '';
                this.tick();
                this.isDeleting = false;
            };

            TxtType.prototype.tick = function() {
                var i = this.loopNum % this.toRotate.length;
                var fullTxt = this.toRotate[i];

                if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
                } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
                }

                this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

                var that = this;
                var delta = 200 - Math.random() * 100;

                if (this.isDeleting) { delta /= 2; }

                if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
                } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
                }

                setTimeout(function() {
                that.tick();
                }, delta);
            };

            window.onload = function() {
                var elements = document.getElementsByClassName('typewrite');
                for (var i=0; i<elements.length; i++) {
                    var toRotate = elements[i].getAttribute('data-type');
                    var period = elements[i].getAttribute('data-period');
                    if (toRotate) {
                    new TxtType(elements[i], JSON.parse(toRotate), period);
                    }
                }
                // INJECT CSS
                var css = document.createElement("style");
                css.type = "text/css";
                css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
                document.body.appendChild(css);
            };
        </script>
        <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
        <p class="text-center wow animated slideInUp" data-wow-delay=".15s">
            {% include elements/button.html link="https://mheriyanto.wordpress.com" text="resume" size="lg" style="info" %}
            {% include elements/button.html link="https://mheriyanto.wordpress.com/publications" text="publications" size="lg" style="success" %}
        </p>
        <p align="center">
            <code><a href="https://mheriyanto.wordpress.com" target="_blank"><img title="wordpress" height="45" width="45" src="assets/icons/wordpress.png"></a></code>
            <code><a href="https://linkedin.com/in/mheriyanto" target="_blank"><img title="linkedin" height="45" width="45" src="assets/icons/linkedin.png"></a></code>
            <code><a href="https://github.com/mheriyanto" target="_blank"><img title="github" height="45" width="45" src="assets/icons/github.png"></a></code>
            <code><a href="https://orcid.org/0000-0003-2182-2866" target="_blank"><img title="orcid" height="45" width="45" src="assets/icons/orcid.png"></a></code>
            <code><a href="https://www.scopus.com/authid/detail.uri?authorId=56770002500" target="_blank"><img title="scopus" height="45" width="45" src="assets/icons/scopus.png"></a></code>
            <code><a href="https://emha-ai.github.io" target="_blank"><img title="freelance" height="45" width="45" src="assets/icons/upwork.png"></a></code>
        </p>

        <p align="center">
            <!-- https://stackoverflow.com/a/19364951/12116520 -->
            <!-- <script id="_wau7c2">var _wau = _wau || []; _wau.push(["colored", "4exzzrsbht", "7c2", "0a66c2ffffff"]);</script><script async src="//waust.at/co.js"></script> -->
            <a href="https://www.hitwebcounter.com" target="_blank">
                <img src="https://hitwebcounter.com/counter/counter.php?page=8042998&style=0006&nbdigits=5&type=page&initCount=0" title="visitor" Alt="web counter" border="0" />
            </a>
        </p>
    </div>
</div>