<!-- 
    official: https://youssefraafatnasry.github.io/portfolYOU/docs/#skills
    example: https://github.com/YoussefRaafatNasry/portfolYOU/blob/a8a76a5bfc346500dc6f9af357c7d14db069ce45/_includes/about/skills.html
    taruma: https://github.com/taruma/taruma.github.io/blob/HEAD/_includes/about/myskills.html
-->
<div class="col-lg">

  <h4 class="mb-2">{{ include.title }}</h4>

  🔴
  {% for skill in include.source %}

  <span class="h{{ skill.level | minus:6 | abs }} text-muted">{{ skill.name }}</span> 🔴

  {% endfor %}

</div>