<!-- 
    raw: https://github.com/speeedsam/CSS3-Animated-Skill-Prograss-bar
    official: https://youssefraafatnasry.github.io/portfolYOU/docs/#skills
    example: https://github.com/YoussefRaafatNasry/portfolYOU/blob/a8a76a5bfc346500dc6f9af357c7d14db069ce45/_includes/about/skills.html
-->

<a class="github-source" href="https://github.com/speeedsam/CSS3-Animated-Skill-Prograss-bar"  target="_blank"><i class="fa fa-github"></i></a>
<div class="wrapper">
  <h2 class="how-title">CSS3 Animated Skill Progress bar</h2>
  <br><br>
  <div class="skill">
      <p>HTML5</p>
      <div class="skill-bar skill1 wow slideInLeft animated">
          <span class="skill-count1">95%</span>
      </div>
  </div>
  <div class="skill">
      <p>CSS3</p>
      <div class="skill-bar skill2 wow slideInLeft animated">
            <span class="skill-count2">85%</span>
      </div>
  </div>
  <div class="skill">
      <p>JQUERY</p>
      <div class="skill-bar skill3 wow slideInLeft animated">
          <span class="skill-count3">75%</span>
      </div>
  </div>
  <div class="skill">
      <p>JAVASCRIP</p>
      <div class="skill-bar skill4 wow slideInLeft animated">
          <span class="skill-count4">65%</span>
      </div>
  </div>
  <div class="skill">
      <p>PHP</p>
      <div class="skill-bar skill5 wow slideInLeft animated">
          <span class="skill-count5">80%</span>
      </div>
  </div>
  <div class="skill">
      <p>WORDPRESS</p>
      <div class="skill-bar skill6 wow slideInLeft animated">
          <span class="skill-count6">90%</span>
      </div>
  </div>
</div><!-- end of /.coloumn -->
