---
layout: default
title: courses
permalink: /courses
weight: 3
---

<h4 class="text-center"><i class="fas fa-code"></i> Coding Courses</h5>

<h5 class="text-left"><i class="fas fa-microchip-ai"></i> Artificial Intelligence</h5>

{% include train.html category="codai" %}

<h5 class="text-left"><i class="fas fa-earth-asia"></i> Geophysics</h5>

{% include train.html category="codge" %}

<h5 class="text-center"><i class="fas fa-briefcase"></i> General</h5>

{% include train.html category="leadership" %}

<h5 class="text-center"><i class="fas fa-podium"></i> Seminars</h5>

{% include train.html category="semai" %}