---
layout: default
title: courses
permalink: /courses
weight: 3
---

<h4 class="text-center"><i class="fas fa-code"></i> Coding Courses</h5>

<h5 class="text-left"><i class="fas fa-microchip"></i> Artificial Intelligence</h5>

{% include training.html category="codai" %}

<h5 class="text-left"><i class="fas fa-globe"></i> Geophysics</h5>

{% include training.html category="codge" %}

<h4 class="text-center"><i class="fas fa-briefcase"></i> General</h4>

{% include training.html category="leadership" %}

<h4 class="text-center"><i class="fas fa-book"></i> Seminars | <a href="https://mheriyanto.wordpress.com/#seminars">[wordpress]</a></h4>

{% include seminar.html category="semai" %}

<!-- <p style="margin-left:10%;"><a href="https://mheriyanto.wordpress.com/#seminars"><b>seminar more...</b></a></p> -->