---
layout: default
title: courses
permalink: /courses
weight: 3
---

<h4 class="text-center"><i class="fas fa-code fa-beat"></i> Coding Courses</h5>

<h5 class="text-left"><i class="fas fa-microchip fa-beat"></i> Artificial Intelligence</h5>

{% include training.html category="codai" %}

<h5 class="text-left"><i class="fas fa-laptop-code fa-beat"></i> Programming</h5>

{% include training.html category="program" %}

<h5 class="text-left"><i class="fas fa-globe fa-beat"></i> Geophysics</h5>

{% include training.html category="codge" %}

<h4 class="text-center"><i class="fas fa-briefcase fa-beat"></i> General <a href="https://mheriyanto.wordpress.com/#courses-trainings">[<i class="fab fa-wordpress"></i>]</a></h4>

{% include training.html category="leadership" %}

<h4 class="text-center"><i class="fas fa-book fa-beat"></i> Seminars <a href="https://mheriyanto.wordpress.com/#seminars">[<i class="fab fa-wordpress"></i>]</a></h4>

{% include seminar.html category="semai" %}

<span style="color:#993300;"><strong>Last updated on November 26th, 2022.</strong></span>