---
layout: default
title: licenses
permalink: /licenses
weight: 2
---

<h4 class="text-center"><i class="fas fa-id-badge"></i> Licenses & Certifications</h4>

<h5 class="text-left"><i class="fas fa-microchip"></i> Artificial Intelligence</h5>

{% include training.html category="cerai" %}

<h5 class="text-left"><i class="fas fa-laptop-code"></i> Programming</h5>

{% include training.html category="cercod" %}

<h5 class="text-left"><i class="fas fa-globe"></i> Geophysics</h5>

{% include training.html category="cergeo" %}

<h5 class="text-left"><i class="fas fa-briefcase"></i> General</h5>

{% include training.html category="cergen" %}

<span style="color:#993300;"><strong> Last updated on October 24th, 2022.</strong></span>