---
layout: default
title: licenses
permalink: /licenses
weight: 2
---

<h4 class="text-center"><i class="far fa-file-certificate"></i> Licenses & Certifications</h4>

<h5 class="text-left"><i class="fa-solid fa-microchip-ai"></i> Artificial Intelligence</h5>

{% include train.html category="cerai" %}

<h5 class="text-left"><i class="fa-solid fa-earth-asia"></i> Geophysics</h5>

{% include train.html category="cergeo" %}

<h5 class="text-left"><i class="fas fa-briefcase"></i> General</h5>

{% include train.html category="cergen" %}