---
layout: default
title: licenses
permalink: /licenses
weight: 2
---

<h4 class="text-center"><i class="fas fa-id-badge fa-beat"></i> Licenses & Certifications</h4>

<h5 class="text-left"><i class="fas fa-microchip fa-beat"></i> Artificial Intelligence</h5>

{% include training.html category="cerai" %}

<h5 class="text-left"><i class="fas fa-laptop-code fa-beat"></i> Programming</h5>

{% include training.html category="cercod" %}

<h5 class="text-left"><i class="fas fa-globe fa-beat"></i> Geophysics</h5>

{% include training.html category="cergeo" %}

<h5 class="text-left"><i class="fas fa-briefcase fa-beat"></i> General</h5>

{% include training.html category="cergen" %}

<span style="color:#993300;"><strong> Last updated on November 26th, 2022.</strong></span>