---
layout: default
title: projects
permalink: /projects
weight: 1
---

<h2 class="text-center"><i class="fas fa-star"></i> organizations</h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'org'" | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-code"></i> coding projects <a href="https://github.com/mheriyanto?tab=projects">[<i class="fab fa-github"></i>]</a></h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'code'" | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-camera"></i> visionAI projects <a href="https://github.com/users/mheriyanto/projects/11">[<i class="fab fa-github"></i>]</a></h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'ai'" | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-globe"></i> geophysics projects <a href="https://github.com/users/mheriyanto/projects/8/views/1">[<i class="fab fa-github"></i>]</a></h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'geo'" | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-list"></i> alhazen projects <a href="https://github.com/users/mheriyanto/projects/12">[<i class="fab fa-github"></i>]</a></h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'nms'" | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-book"></i> past projects <a href="https://mheriyanto.wordpress.com/projects">[<i class="fab fa-wordpress"></i>]</a></h2>

{% include coding.html category="past" %}