---
layout: default
title: projects
permalink: /projects
weight: 1
---

<h2 class="text-center"><i class="fas fa-star"></i> organizations</h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'org'" | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-code"></i> coding projects</h2>

{% include coding.html category="code" %}

<h2 class="text-center"><i class="fas fa-book"></i> past projects | <a href="https://mheriyanto.wordpress.com/projects">[<i class="fab fa-wordpress"></i>]</a></h2>

{% include coding.html category="past" %}