<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h5 class="text-center"><a style="text-decoration:none;" href="https://www.webofscience.com/wos/author/record/1543950" target="_blank" rel="noopener noreferrer">Web of Science</a></h5>
    <p>Citations: 4 <br> h-index: 2</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h5 class="text-center"><a style="text-decoration:none;" href="https://www.scopus.com/authid/detail.uri?authorId=56770002500" target="_blank" rel="noopener noreferrer">Scopus</a></h5>
    <p>Citations: 4 <br> h-index: 2</p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h5 class="text-center"><a style="text-decoration:none;" href="https://scholar.google.co.id/citations?user=d2xD6PEAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">Google Scholar</a></h5>
    <p>Citations: 11 <br> h-index: 2</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h5 class="text-center"><a style="text-decoration:none;" href="https://www.researchgate.net/profile/Mohammad-Heriyanto" target="_blank" rel="noopener noreferrer">ResearchGate</a></h5>
    <p>Citations: 9 <br> h-index: 2</p>
  </div>
</div>
