<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h4 class="text-center">Web of Science</h4>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h4 class="text-center">Scopus</h4>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h4 class="text-center">Google Scholar</h4>
    <p>Some text..</p>
    <!-- {% include pub/gs.html %} -->
  </div>
  <div class="column" style="background-color:#ddd;">
    <h4 class="text-center">ResearchGate</h4>
    <p>Some text..</p>
  </div>
</div>
