<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h5 class="text-center">Web of Science</h5>
    <p>Citations: 4 <br> h-index: 2</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h5 class="text-center">Scopus</h5>
    <p>Citations: 4 <br> h-index: 2</p>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h5 class="text-center">Google Scholar</h5>
    <p>Citations: 11 <br> h-index: 2</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h5 class="text-center">ResearchGate</h5>
    <p>Citations: 9 <br> h-index: 2</p>
  </div>
</div>
